/* Styles for De Stijl wireframe */

.indexImage {
	background-image: url("pictures/destijl.jpg");
	background-repeat: no-repeat; 
	margin: 0;
	padding: 0;
}

.headerImage {
	background-image: url("pictures/destijl-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

header {
	margin:0;
	padding:0;
	position: relative;
}

body {
	margin:0;
	padding:0;
}

header a {
	text-decoration: none;
	color: black;
}

.stijl {
	position: relative;
}

h1 {
	font-family: 'Abadi MT Condensed Extra Bold';
	font-size: 6em;
	position: relative;
	top: 0.08em;
	width: 100%;
	max-width: 900px;
	margin: auto;
}

nav ul {
	font-family: 'Abadi MT Condensed Extra Bold';
	font-size: 4em;
	list-style-type: none;
	text-decoration: none;
}

.navClass {
	padding: 0.01em;
}

.indexClass {
	margin-left: 2.75em;
}

.red:hover {
	color: red;
}

.blue:hover {
	color: blue;
}

.mainContainer {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.constrainedClass {
	margin-top: -5em;
	padding: 1em;
}

.constrainedClass img {
	width: 20em;
	margin: 4em;
}

p {
	font-family: 'Abadi MT Condensed Extra Bold';
	text-align: left;
	font-size: 1.5em;
	text-indent: 2em;
	color: red;
}

.aboutContainer {
	max-width: 50em;
	width: 90%;
	margin: auto;
}

.gif {
	width: 50%;
	max-width: 600px;
	margin: auto;
}

footer {
	background-color: black;
	text-align: right;
	margin: 0;
	padding: 2em;
}

.social {
	width: 1.75em;
	margin: 0.75em;
}

 /* Specific Screen Size*/
 
/* 
@media only screen and (max-width: 320px) {

}
 */

 
 
